*.box
*.db
*.dump
*.email.py
*.env
*.envrc
*.html.py
*.log
*.log.1
*.out
*.pid
*.pot
*.pyc
*.swp
*.zip
.devcontainer/
.DS_Store
.cache
.coverage
.env-vault
.idea
.mypy_cache
.pytest_cache
.serverless
.syncthing*
.transifexrc
.vagrant
.venv
.vscode
.yalc
Vagrantfile
build/
celerybeat-schedule
coverage.xml
node_modules/
/static/
media/
celerybeat-schedule
local_settings.py
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
*.session
*.session-journal
